$awaiting_order_confirming:orange;
$order_pending:rgb(41 253 78 / 72%);
$order_received:#ffdb49;
$shipped:rgb(28, 65, 228);
$refund:#17c4bb;
$cancelled:red;
$delivered:green;
$awaiting_payment:grey;
$awaiting_pickup:rgb(88 160 227);

